div{
    margin: 0 auto;
}


.text1{
    font-size: 40px;
    font-weight: 600;
    color:#1E1E1E;
    font-family: 'Noto Sans KR', sans-serif;
}

.text2{
    font-size: 18px;
    color:#C8C8C8;
    margin-bottom: 50px;
    font-family: 'Noto Sans KR', sans-serif;
}



/* about us */



.aboutus {
    max-width: 1440px;
    margin: 0 auto;
    width:100%;
    padding-top: 100px;
    padding-bottom: 100px;
}

.about_wrap {
    border-top: 1px solid #959595;
    border-collapse: collapse;
    width: 1440px;
    font-family: 'Noto Sans KR', sans-serif;
}

.about_li tr th {
    font-size: 24px;
    color:#1E1E1E;
    text-align: left;
    letter-spacing: 1.2px;
}
.about_li tr td {
    font-size: 20px;
    color:#959595;
}

.about_li th, .about_li td {
    border-bottom: 1px solid #959595;
    padding: 15px;
    padding-left: 40px;
}



@media screen and (max-width: 1280px){
    .aboutus {
        margin: 0 auto;
        max-width: 1000px;
    }
    .about_wrap {
        max-width: 1000px;
        width: auto;
    }

    .about_wrap tr th {
        column-width: 200px;
    }
}


@media screen and (max-width: 768px){
    .aboutus .about_wrap {
        margin: 0 auto;
        max-width: 704px;
    }

    .about_wrap tr th {
        column-width: 180px;
    }
}





/* history */

.history {
    width: 100%;
    background-color: #F9F9F9;
    overflow: hidden;
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: 'Noto Sans KR', sans-serif;
}

.history_wrap {
    max-width: 1440px;
}
.article {
    display: flex;
}

.article .year {
    text-align: right;
    margin-right: 10px;
    position: relative;
    font-size:50px;
    letter-spacing: 2.5px;
    color:#000000;
    font-weight: 600;

}

.article .year p:last-child {
    line-height: 215px;
}


.history_li {
    max-width: 800px;
    margin-top: 30px;


}


.timeline_li {
    list-style: none;
	padding: 3em 2em 2em;
	position: relative;
	color: rgba(#1E1E1E, .7);
	border-left: 6px solid #C8C8C8;
    max-width: 800px;
    margin-left: 200px;
    
    
}

.timeline_li ol {
    margin-top: -40px;
    padding: 0 0 70px 10px;
    list-style: none;
}

.timeline_li ol li {
    font-size: 20px;
    line-height:40px;

}

	
.timeline_li::before {
    content: attr(date-is);
    position: absolute;
    left: -90px;
    font-weight: bold;
    text-align: right;
    top: -10px;
    display: block;
    font-weight: 600;
    font-size: 32px;
    color:#184B9F;

}

.timeline_li::after {
	width: 20px;
	height: 20px;
	display: block;
	top: 0;
	position: absolute;
	left: -15px;
	border-radius: 50%;
	content: '';
	border: 2px solid #184B9F;
	background: #184B9F;
}


.timeline_li:last-child {
    border-color: transparent;
}




@media screen and (max-width: 1280px){

    .text {
        max-width: 1000px;
    }


    .article {
        margin: 0 auto;
        max-width: 1000px;
    }

    
    .history_li {
        max-width: 620px;
    }

    .timeline_li {
        max-width: 620px;
    }



}

    
@media screen and (max-width: 768px){
    .article {
        margin: 0 auto;
        max-width: 704px;
    }

    .timeline_li {
        max-width: 430px;
        left: -70px;
    }

}