@charset "utf-8";

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0 auto;
}

:root {
    --white: #ffffff;
    --dark: #000000;
    --blue: #184b9f;
    --txtcolor: #1e1e1e;
    --subtxt: #c8c8c8;
}

.organization_wrap{
    position: relative;
    max-width: 1920px;
    width: 100%;
    height: 906px;
    padding-top: 140px;
    padding-bottom: 100px;
}

.organization_info_wrap{
    width: 100%;
    height: 666px;
}

.name_wrap{
    height: 84px;
}

.name_box{
    position: relative;
    height: 84px;
    opacity: 1;
    padding: 0;
    margin: 0;
}

.name_font{
    font: normal normal bold 40px/58px Noto Sans KR;
    color: var(--txtcolor);
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
}

.sub_name_font{
    font: normal normal medium 18px/26px Noto Sans KR;
    color: var(--subtxt);
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
}

.organization_info{
    width: 73%;
    margin-top : 50px;
    height: 532px;
    display: block;
}

.organization_info_wrap ul, 
.organization_info_wrap > li{
    list-style: none;
}

/* 조직도 내용 */
.organization_info_wrap .blue_box,
.organization_info_wrap .list_box {
    font-size: 26px;
    font-weight: 500;
    line-height: 37px;
    letter-spacing: 0px;
    text-align: center;
}

.blue_box{
    width: 200px;
    height: 80px;
    background: var(--blue) 0% 0% no-repeat padding-box;
    border-radius: 20px;
    opacity: 1;
    color: var(--white);
    padding-top: 22px;
    margin-bottom: 140px;
}

.wrap_ul{
    position: absolute;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    gap: 100px;
    min-width: 20%;
    display: flex;

}

.list_box span{
    display: block;
    width: 200px;
    height: 80px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 3px solid var(--blue);
    border-radius: 20px;
    opacity: 1;
    color: var(--txtcolor);
    text-align: center;
    padding-top: 18px;
}

.content{
    color: var(--txtcolor);
    width: 185px;
    height: 192px;
    font-size: 22px;
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
    margin-top: 40px;
}

.content li{
    list-style: disc;
    margin-left: 30px;
    font-size: 22px;
    font-weight: 500;
    line-height: 40px;
    width: 185px;
}

/* 선 */

.list_box:after{
    content: "";
    width: 1px;
    height: 73px;
    position: absolute;
    background-color: var(--dark);
    margin-left: 0px;
    margin-top: -385px;
}

.blue_box:after{
    content: "";
    width: 1px;
    height: 73px;
    position: absolute;
    background-color: var(--dark);
    margin-left: -48px;
    margin-top: 53px
}

.wrap_ul:after{
    content: "";
    width: 1200px;
    height: 1px;
    position: absolute;
    background-color: var(--dark);
    margin-left: 3px;
    margin-top: -73px;
}

/* 미디어쿼리 */

@media screen and (max-width: 1280px) {
    .organization_wrap{
        height: 1500px;
        padding-top: 110px;
        padding-left: 140px;
    }

    .organization_info {
        width: 500px;
    }

    /* 선 */
    .line1:after{
        content: "";
        width: 1px;
        height: 73px;
        position: absolute;
        background-color: var(--dark);
        margin-left: -60px;
        margin-top: -94px;
    }

    .line2:after{
        content: "";
        width: 1px;
        height: 73px;
        position: absolute;
        background-color: var(--dark);
        margin-left: -36px;
        margin-top: -94px;
    }

    .list_box:after {
        display: none;
    }

    .wrap_ul:after{
        width: 300px;
        margin-left: 100px;
    }

    /* 칸 조정 */
    .wrap_ul {
        width: 100%;
        gap: 40px 100px;
        flex-wrap: wrap;
        justify-content: flex-start
    }
}

@media screen and (max-width: 960px) {
    .wrap_ul {
        width: 500px;
}
}

@media screen and (max-width: 768px) {
    .organization_wrap{
        padding-left: 32px;
    }
}


/* certification */
.certification_wrap{
    width: 100%;
    height: 1454px;
    background: #F9F9F9 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    flex-direction: column;
}
.certification_wrap .name_box{
    left: 240px;
    top: 100px;
}

/* image_box */
.image_box{
    width: 990px;
    height: 1120px;
    box-sizing: border-box;
    position: relative;
    top: 154px;
    left: 620px;
    margin: 0;
}

.grid_image {
    display: grid;
    grid-template-columns: 230px 230px 230px;
    grid-gap: 80px 150px;
}
.grid_image .back_image{
    width: 230px;
    height: 320px;
    background: transparent url('../images/사각형62.png') 0% 0% no-repeat padding-box;
    box-sizing: border-box;
    border: 1px solid #184B9F;
    border-radius: 4px;
}
.grid_image .back_image img {
    width:220px;
    height: 310px;
    box-sizing: border-box;
    margin:5px;
    border: 1px solid #d8d8d8;
    background: transparent url('../images/사각형62.png') 0% 0% no-repeat padding-box;
}

/***** map *****/
.direction{
    width: 1920px;
    height: 1344px;
}
.direction_wrap{
    width: 1440px;
    display: flex;
	flex-direction: column;
    position: relative;
    top: 100px;
}
.index_kakao_map{
    margin-top: 50px;
    width: 1440px;
    height: 680px;
    position:relative;
    overflow:hidden; 
    background: url("http://t1.daumcdn.net/mapjsapi/images/2x/bg_tile.png"); 
}
/* 맵 글씨 스타일 */
.map_info_wrap{
    width: 1440px;
    height: 230px;
}
.map_info p{
    margin-top: 40px;
    display: inline-block;
}
.map_info .tel{
    margin-left: 231px;
}
.map_info .address{
    margin-left: 243px;
}
.map_info p:first-child{
    text-align: center;
    font: normal normal bold 24px/50px Noto Sans KR;
    letter-spacing: 1.2px;
    color: #1E1E1E;
    opacity: 1;
}
.map_info p:last-child{
    text-align: left;
    font: normal normal normal 20px/30px Noto Sans KR;
    letter-spacing: 0px;
    color: #959595;
    opacity: 1;
}
.map_info .tel_info{
    margin-left: 81px;
}
.map_info .address_info{
    margin-left: 91px;
}
/* 밑줄 */
.under{
    border-bottom: 1px solid #dbdbdb;
    opacity: 1;
}
.under2{
    border-bottom: 1px solid #1e1e1e;
    opacity: 1;
}
/***** End map *****/

/* ---------- certification & patent mediaquery start ---------- */
@media screen and (max-width: 1280px) {
    .certification_wrap {
        width: 1280px;
    }
    .certification_wrap .name_box {
        left: 140px;
    }
    .image_box {
        left: 145px;
    }
}
@media screen and (max-width: 768px) {
    .certification_wrap {
        width: 768px;
    }
    .certification_wrap .name_box {
        left: 32px;
    }
    .image_box {
        width: 540px;
        left: 114px;
    }
    .grid_image {
        display: grid;
        grid-template-columns: 230px 230px;
        grid-gap: 80px 80px;
    }
    .none_768 {
        display: none;
    }
}
/* ---------- certification & patent mediaquery end ---------- */


/* ---------- map mediaquery --------*/
@media screen and (max-width: 1280px) {
    .direction_wrap {
        width: 1000px;
    }
    .index_kakao_map{
        width: 1000px;
    }
    .direction_wrap .name_box {
        left: 140px;
    }
    .map_info_wrap {
        width: 1000px;
    }
    .map_info .tel{
        margin-left: 70px;
    }
    .map_info .address{
        margin-left: 80px;
    }
    .map_info .address_info {
        margin-left: 91px;
    }
}

@media screen and (max-width: 768px) {
    .direction_wrap {
        width: 704px;
    }
    .index_kakao_map{
        width: 704px;
    }
    .direction_wrap .name_box {
        left: 32px;
    }
    .map_info_wrap {
        width: 704px;
    }
    .map_info .tel{
        margin-left: 24px;
    }
    .map_info .tel_info {
        margin-left: 24px;
        width: 410px;
    }
    .map_info .address{
        margin-left: 34px;
    }
    .map_info .address_info {
        margin-left: 40px;
        width: 550px;
    }
}
/* ---------- end map mediaquery --------*/
