@charset "utf-8";
body{
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
}
.organization_wrap{
    font-family: 'Noto Sans KR', sans-serif;
    top: 0px;
    left: 0px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 1920px;
    height: 906px;
    /* height: 6540px; */
    overflow: hidden;
    box-sizing: border-box;
}
.organization_info_wrap{
    position: relative;
    /* top: 2690px; */
    top: 140px;
    width: 1420px;
    height: 666px;
}
.name_box{
    position: relative;
    /* top: 2690px;
    left: 240px; */
    height: 84px;
    opacity: 1;
    padding: 0;
    margin: 0;
}
.name_font{
    font: normal normal bold 40px/58px Noto Sans KR;
    color: #1e1e1e;
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
}
.sub_name_font{
    font: normal normal medium 18px/26px Noto Sans KR;
    color: #c8c8c8;
    text-align: left;
    letter-spacing: 0px;
    opacity: 1;
}
.organization_info{
    position: relative;
    width: 1400px;
    height: 532px;
    opacity: 1;
    /* top: 50px;
    left: 20px; */
    padding: 50px 0 0 20px;
}
.organization_wrap .organization_info_wrap .organization_info .ceo_border_box{
    width: 200px;
    height: 80px;
    background: #184b9f 0% 0% no-repeat padding-box;
    border-radius: 20px;
    opacity: 1;
    margin: 0 600px 0 600px;
}
.organization_wrap .organization_info_wrap .organization_info .ceo_border_box .ceo_p{
    position: relative;
    font-size: 26px;
    text-align: center;
    height: 37px;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    padding: 22px 52px 21px 52px;
    margin: 0;
}

/* 조직도 선 */
.tg {
    border-collapse:collapse;
    border-spacing:0;
    width: 1200px;
    margin-left: 100px;
    text-align: center;
}
.tg .tg-1, .tg .tg-4{
    border: none;
}
.tg .tg-2, .tg .tg-6{
    border-right: 1px solid #707070;
    height: 70px;
}
.tg .tg-5, .tg .tg-6{
    border-top: 1px solid #707070;
    border-left: 1px solid #707070;
}
.tg .tg-7, .tg .tg-8{
    border-top: 1px solid #707070;
    border-right: 1px solid #707070;
}

/* 밑에 부분 */
.table{
    width: 1400px;
    height: 312px;
}
.table tr{
    width: 1400px;
    height: 80px;
}
.th{
    box-sizing: border-box;
    width: 200px;
    height: 80px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 3px solid #184B9F;
    border-radius: 20px;
    opacity: 1;
    text-align: center;
    font-size: 26px;
    line-height: 26px;
    letter-spacing: 0px;
    color: #1E1E1E;
    opacity: 1;
}
.th:last-child{
    margin-right: 0;
}
.table .blank{
    width: 100px;
    height: 80px;
}

.table .pos1{
    margin: 22px 40px 21px 40px;
    width: 120px;
}
.table ul li{
    margin: 0;
    letter-spacing: 0px;
    color: #1E1E1E;
    font-size: 22px;
    line-height: 40px;
    display: block;
}
.table .tr1{
    width: 169px;
    height: 192px;
}
.table .tr2{
    width: 165px;
    height: 192px;
}
.table .tr3{
    width: 185px;
    height: 192px;
}
.table .tr4{
    width: 164px;
    height: 192px;
}
.table .tr5{
    width: 144px;
    height: 112px;
}
table .tr5 ul .none{
    list-style: none;
    color: white;
}
table .tr5 ul .none pre{
    margin: 0;
    padding: 0;
}

/* certification */
.certification_wrap{
    width: 100%;
    height: 1454px;
    background: #F9F9F9 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    flex-direction: column;
}
.certification_wrap .name_box{
    left: 240px;
    top: 100px;
}

/* image_box */
.image_box{
    width: 990px;
    height: 1120px;
    box-sizing: border-box;
    position: relative;
    top: 154px;
}

.grid_image {
    display: grid;
    grid-template-columns: 230px 230px 230px;
    grid-gap: 80px 150px;
}
.grid_image .back_image{
    width: 230px;
    height: 320px;
    background: transparent url('../images/사각형62.png') 0% 0% no-repeat padding-box;
    box-sizing: border-box;
    border: 1px solid #184B9F;
    border-radius: 4px;
}
.grid_image .back_image img {
    width:220px;
    height: 310px;
    box-sizing: border-box;
    margin:5px;
    border: 1px solid #d8d8d8;
    background: transparent url('../images/사각형62.png') 0% 0% no-repeat padding-box;
}

/***** map *****/
.direction{
    width: 1920px;
    height: 1344px;
}
.direction_wrap{
    width: 1440px;
    display: flex;
	flex-direction: column;
    position: relative;
    top: 100px;
}
.index_kakao_map{
    margin-top: 50px;
    width: 1440px;
    height: 680px;
    position:relative;
    overflow:hidden; 
    background: url("http://t1.daumcdn.net/mapjsapi/images/2x/bg_tile.png"); 
}
/* 맵 글씨 스타일 */
.map_info_wrap{
    width: 1440px;
    height: 230px;
}
.map_info p{
    margin-top: 40px;
    display: inline-block;
}
.map_info .tel{
    margin-left: 231px;
}
.map_info .address{
    margin-left: 243px;
}
.map_info p:first-child{
    text-align: center;
    font: normal normal bold 24px/50px Noto Sans KR;
    letter-spacing: 1.2px;
    color: #1E1E1E;
    opacity: 1;
}
.map_info p:last-child{
    text-align: left;
    font: normal normal normal 20px/30px Noto Sans KR;
    letter-spacing: 0px;
    color: #959595;
    opacity: 1;
}
.map_info .tel_info{
    margin-left: 81px;
}
.map_info .address_info{
    margin-left: 91px;
}
/* 밑줄 */
.under{
    border-bottom: 1px solid #dbdbdb;
    opacity: 1;
}
.under2{
    border-bottom: 1px solid #1e1e1e;
    opacity: 1;
}
/***** End map *****/
