
.text1{
    font-size: 40px;
    font-weight: 600;
    color:#1E1E1E;
    font-family: 'Noto Sans KR', sans-serif;
}

.text2{
    font-size: 18px;
    color:#C8C8C8;
    margin-bottom: 50px;
    font-family: 'Noto Sans KR', sans-serif;
}


/* reference */
.text { 
    border-bottom: 1px solid #9E9E9E;
}

.reference {
    width: 1440px;
    margin-left:240px;
    margin-top: 100px;
    margin-bottom: 250px;

}

.reference ul {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 20px 0 0px;

}

.reference ul li {
    width: calc(100%/6);
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.reference ul li .img_wrap {
    width: 220px;
    height: 100px;
    position: relative; 
    border: 1px solid #DBDBDB;
}

.reference ul li .img_wrap img {
    max-width: 100%;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



@media screen and (max-width: 1280px){
    
.reference {
    max-width: 1000px;
    margin-left: 140px;
}

.reference ul {
    max-width: 700px;
    margin:0 auto;
    margin-top: 20px;
    margin-left: 110px;
}
    
 

.reference ul li {
    width: calc(100%/3);

}
}


@media screen and (max-width: 768px){

.reference {
    max-width: 704px;
    margin: 0 2%;
    margin-top: 100px;
    margin-bottom:200px;
    
}
.reference ul {
    margin: 0 auto;
    padding-left:0px;
    margin-top: 20px;
}

.reference ul li {
     width: calc(100%/3);
     
}

}