.image{
    position: relative;
    top: 30px
    left 30px;
    background: transpert linear-gradient(223deg,#E4CDE8 0%,#339BE133 100%)
}
.phone{
    position :absolute;
    left: 300px;
    background-color: palevioletred
}
.moadu{
    position: absolute;
    top:479px;
    position: relative;
    left:1228px;
    top: 295px;
    font-size: 30px;
    text-align: right;
    font-weight: 50px;
}
