.ecoce {
    margin: 100px auto;
    max-width: 1440px;
    width: 100%;
}

.ecoce_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.text1{
    font-size: 40px;
    font-weight: 600;
    color:#363636;
    font-family: 'Noto Sans KR', sans-serif;
    
}

.text2{
    font-size: 18px;
    color:#C8C8C8;
    margin-bottom: 50px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight:bold;
}

.ecoce{
    
    top:10%;
    left:10%;
}
.phone{
    position: absolute;
    left:60%;
   
}
.ecoce_image {
    position: relative;
}

.ecoce_image .phone {
    position: absolute;
    left:240px;
    top:60px;
}
.logo{
    position: absolute;
    top:55%;
    left:60%;
}

.right {
    text-align: right;
}

.right .ecoce_text {
    font-size: 30px;
    color: #1E1E1E;
    line-height: 44px;
    font-weight: 600;
    padding-bottom: 140px;
    position: absolute;
    top:30%;
    left:60%;
    text-align: right;
}

.ecoce_logo .eco {
    font-size: 22px;
    padding-top: 32px;
    padding-bottom: 140px;
    font-weight: 600;
}

.ecoce_btn {
    display: flex;
    position: relative;
}

.ecoce_btn {
    display: flex;
    flex-wrap: wrap;
    
}
.eco{
    font-weight: bold;
}

.btn {
    width: 188px;
    height: 57px;
    border-radius: 69px;
    background-color: #1E1E1E;
    text-align: left;
    font-size:14px;
    color: #FFFFFF;
    padding-top: 5px;
    margin-left: 30px;
    position: relative;
    left:60%;
}
.btn img {
   
    top: 20px;
    left: 20px;
}

.btn p {
    line-height: 22px;
   
    left:63px;
}
